
.clientCounter{
  position: fixed;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: #1976d2;
  color: white;
  text-align: left;
  padding: 8px 34px;
  font-size: 15px;
  font-weight: 500;  
  z-index: 99;

}
